/* Main Index and sitewide CSS */
html{
    scroll-behavior: smooth;
}
html, body, .max_size, #intro{
    height: 100%;
}
#intro{
    background: url("../img/clouds.gif")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
    background-color: #4285F4;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #4285F4;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #4285F4;
    }
}

/* PHP CSS */
.php_background{
    background-color: #E3EFE5;
}
.php_main{
    background-color: #FCFF55;
}
.php_secondary{
    background-color: #7E968F;
}
.php_main_border{
    border-color: #FCFF55;
}
.php_secondary_border{
    border-color: #BE4A32;
}
.w_tile{
    display: inline-block;
    background: rgba(250,250,250,1);
    width: 100px;
    height: 100px;
}
.b_tile{
    display: inline-block;
    background: rgba(0,0,0,1);
    width: 100px;
    height: 100px;
}
.stock_tile {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 0.6em;
    color: #7E968F;
}
.spiral_tile {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 0.6em;
    color: #FCFF55;
}
.wmc_display {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
}
.wmc_show {
    display: inline-block;
    float: left;
    margin: 0.75em;
}
.line{
    display: block;
    height: 60px;
}

/* JavaScript CSS */
.js_background{
    background-color: #F5F5F3;
}
.js_main{
    background-color: #82A673;
}
.js_secondary{
    background-color: #4BC1E4;
}
.js_main_border{
    border-color: #82A673;
}
.js_secondary_border{
    border-color: #4BC1E4;
}

/* JQuery CSS */
.jq_background{
    background-color: #EDEADF;
}
.jq_main{
    background-color: #7BB4DC;
}
.jq_secondary{
    background-color: #9636D6;
}
.jq_main_border{
    border-color: #7BB4DC;
}
.jq_secondary_border{
    border-color: #18181F;
}
#finish, .selected_product{
    display: none;
}
.floor{
    display: inline-block;
    overflow: hidden;
    background-color: #D3D3D3;
    min-height: 50px;
    min-width: 50px;
    color: #D3D3D3;
}
.wall{
    display: inline-block;
    overflow: hidden;
    background-color: #696969;
    min-height: 50px;
    min-width: 50px;
    color: #696969;
}
.start_finish{
    display: inline-block;
    overflow: hidden;
    background-color: #EEC900;
    min-height: 50px;
    min-width: 50px;
    color: #EEC900;
}
.player{
    display: inline-block;
    overflow: hidden;
    background-color: #18181F;
    min-height: 50px;
    min-width: 50px;
    color: #18181F;
}