html
{
    background: rgba(140,140,140,0.75);
    font-family: "Times New Roman", "serif";
    font-size: 15px;
}
body
{
    background: rgba(255,255,255,1);
    margin: 5% auto;
    max-width: 90%;
    padding: 2%;
}

foot
{
    display: block;
    border-top-style: solid;
    text-align: center;
}