html {
  font-family: "Times New Roman", "serif";
  font-size: 20px;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
}

body {
  margin: 5%;
  padding: 5%;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
}

.display {
  display: block;
  margin: auto;
  max-width: 99%;
  overflow: auto;
  border-style: solid;
  background-color: rgba(0, 0, 0, 1);
}

.line {
  display: block;
}

.show {
  display: inline-block;
  margin: 1%;
  width: 60px;
  height: 60px;
  font-size: 11px;
  border-style: solid;
  background-color: rgba(0, 255, 255, 1);
  color: rgba(0, 255, 255, 1);
}

.spiral {
  display: inline-block;
  margin: 1%;
  width: 60px;
  height: 60px;
  font-size: 11px;
  border-style: solid;
  background-color: rgba(0, 255, 0, 1);
  color: rgba(0, 255, 0, 1);
}

foot {
  display: block;
  border-top-style: solid;
  text-align: center;
}